@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: bottom;  
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a{
    background-color: #555053b2;
    border: 2px solid #333132b2;
    color: #b6b3b5;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text__textbox {
    background-color: rgb(107, 87, 87);
    color: rgb(255, 222, 173);
    align-items: center;
    justify-content: center;
    height: 150px;
    margin-top: -5%;
    padding-top: 2rem;
    clip-path: polygon(52% 4%, 75% 2%, 100% 0, 100% 100%, 51% 95%, 53% 95%, 0 100%, 0 0, 21% 2%);
    

}
.intro-text__textbox h3 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image {
    margin-top: -5%;
    background-attachment: fixed;
    background-image: url('../img/img2.jpg');
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text a {
    background-color: #85583ab2;
    border: 2px solid #3d2424b2;
    color: #f8cd94;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    background-color: rgb(109, 71, 71);
    color: rgb(194, 167, 126);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.packaging_text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image {
    background-attachment: fixed;
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: bottom;  
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a {
    background-color: #555053b2;
    border: 2px solid #333132b2;
    color: #b6b3b5;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.2);
}

.footer {
    height: 150px;
    background-color: rgb(51, 34, 34);
    color: rgb(236, 125, 125);;
    font-size: 1rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color:  rgb(236, 125, 125);
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.3);
}

.footer ul li a:hover {
    color:  rgb(255, 255, 255);
}